#app {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.router-link-exact-active {
  font-weight: bold;
}

.btn-warning {
  color: white;
  background-color: #ff611d;
}

.badge-success {
  background-color: #ff611d;
}
